# This workflow will apply github actions for golang project

name: Go

on:
  push:
    branches:
      - development
      - main
  pull_request:
    branches:
      - development
      - main

jobs:

  Check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.4'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: gofmt
      uses: Jerome1337/gofmt-action@v1.0.5
      
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3